// Bootstrap variables
$white:    #fff !default;
$gray-100: #f5f7fa !default; /* #f8f9fa */
$gray-200: #e9ecef !default;
$gray-300: #d4dadd !default; /* #dee2e6 */
$gray-400: #b7bfc8 !default; /* ced4da */
$gray-500: #8f959e !default;
$gray-600: #617485 !default; /* 6c757d */
$gray-700: #495057 !default;
$gray-800: #394c60 !default; /* 343a40 */
$gray-900: #243342 !default; /* #212529 */
$black:    #000 !default;

$blue:    #0f6fc5 !default;
$indigo:  #6610f2 !default;
$purple:  #613d7c !default;
$pink:    #e83e8c !default;
$red:     #ca3120 !default;
$orange:  #f0ad4e !default;
$yellow:  #ff7518 !default;
$green:   #357a32 !default;
$teal:    #20c997 !default;
$cyan:    #008196 !default;

$primary:       $blue !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $orange !default;
$danger:        $red !default;
$secondary:     $gray-400 !default;

$info-outline:    #1f7e9a;
$warning-outline: #a6670e;

$brand-01:        #134663; /* institucional 01 */
$brand-02:        #196096; /* institucional 02 */
$brand-border-01: #cfe2fc; /* dropdown usermenu border */
$brand-border-02: #e0e5eb; /* navdrawer border divisor */
$brand-info:      #005EB8;
$brand-link:      #006BFF; /* aside blocks links */
$brand-shadow:    #142E52; /* box shadow */

// Layout
$border-radius:    12px;
$box-shadow:       0 4px 8px 0 rgba($brand-shadow, 0.2);
$regular-margin:   3rem;
$min-width-margin: 1.5rem;

// Options
$enable-rounded: false !default;
$enable-responsive-font-sizes: true !default;

// Body
$body-color:    $gray-900 !default;

// Fonts
$font-size-base: 0.9375rem !default;
$rfs-base-font-size: 0.9rem !default;
$headings-font-weight:   300 !default;

// Navbar
$navbar-dark-hover-color:           rgba($white, 1) !default;
$navbar-light-color:                rgba($black, 0.6) !default;
$navbar-light-hover-color:          rgba($black, .9) !default;

// Breadcrumbs
$breadcrumb-padding-y:              .25rem !default;
$breadcrumb-padding-x:              0 !default;
$breadcrumb-item-padding:           .5rem !default;
$breadcrumb-margin-bottom:          0 !default;
$breadcrumb-bg:                     transparent !default;
$breadcrumb-divider: "/" !default;
$breadcrumb-divider-rtl: "/" !default;

// Floating elements positions
$gototop-bottom-position: 50px !default;

// Alerts
$alert-border-width:                0 !default;

$card-group-margin: .25rem;

// Custom control size
$custom-control-indicator-size: 1.25rem;

$input-btn-focus-color: rgba($primary, .75) !default;

$input-border-color: $gray-500 !default;

$dropdown-link-hover-color: $white;
$dropdown-link-hover-bg: $primary;

// stylelint-disable
$theme-colors: () !default;
$theme-colors: map-merge((
        primary: $primary,
        secondary: $secondary,
        success: $success,
        info: $info,
        warning: $warning,
        danger: $danger,
), $theme-colors);
// stylelint-enable

$spacer: 1rem !default;
$spacers: (
        0: 0,
        1: ($spacer * .25),
        2: ($spacer * .5),
        3: $spacer,
        4: ($spacer * 1.5),
        5: ($spacer * 2),
        6: ($spacer * 3)
) !default;

%card-style {
    background-color: $white;
    border: 0 none !important;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
}
