// Blocos.
[role="main"] #block-region-content,
[role="main"] + {
    .block.card > .card-body.p-3 {
        padding: 1.5rem !important;
    }
    .card .card-title {
        font-size: 1.5rem;
    }
}
[data-region="blocks-column"] {
    margin-top: 3.8rem;
    &.collapsed {
        display: none;
    }
}
.block-region {
    .block.card {
        margin-bottom: 1.5rem !important;
    }
}
.block_tree .tree_item.branch {
    margin-left: 0;
}
.block {
    .block-cards .course-info-container {
        padding: 1.25rem !important;
        .dropdown .btn.btn-link.btn-icon {
            background-color: $gray-200;
            &:hover {
                background-color: $gray-300;
            }
        }
        .text-truncate {
            overflow: unset;
            text-overflow: unset;
            white-space: unset;
            .coursename {
                color: $gray-800;
                font-size: 1.25rem;
                font-weight: 700;
                line-height: 1em;
            }
            .text-muted {
                line-height: 1.2em;
            }
        }
    }
    .block-cards .progress {
        background-color: $gray-300 !important;
        border: 0 none !important;
        border-radius: 15px;
        .progress-bar {
            background-color: $brand-03;
            border-radius: 15px;
        }
        + .small {
            color: $gray-600;
            margin-top: .25rem;
        }
    }
    .calendar-controls .current {
        font-size: 1.1rem;
        a {
            color: $gray-800;
        }
    }
    .minicalendar {
        max-width: 100%;
        td,
        th {
            border: 0 none;
            font-size: .9rem;
            padding: .5rem;
            &.today {
                padding: 0;
                a {
                    background-color: $brand-03;
                    border-radius: 50%;
                    color: $white;
                    display: inline-block;
                    font-size: 1.1rem;
                    font-weight: 800;
                    height: 34px;
                    line-height: 34px;
                    width: 34px;
                }
            }
        }
    }
}
.block.block_timeline {
    float: left;
    margin-right: 1.5rem;
    width: 55%;
}
.block-statistics {
    flex-basis: 125px;
    padding: 1rem 2rem;
    text-align: center;
    h6 {
        color: $gray-600;
        font-size: 1.1rem;
        font-weight: 400;
    }
    > span {
        color: $gray-600;
        display: block;
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 1em;
        padding: .5rem;
    }
}

#hide-blocks {
    padding-right: 2rem;
    &:after {
        content: '';
        background-image: url([[pix:theme|hideblocks]]);
        background-repeat: no-repeat;
        height: 16px;
        width: 16px;
        position: absolute;
        margin-top: 6px;
        margin-left: 5px;
    }
}

.block .block-cards .course-info-container .text-truncate .coursename {
    font-weight: 500;
}

#hide-blocks:hover {
    &:after {
        filter: brightness(0) invert(1);
    }
}
