
body.format-board {
    &.path-course-view {
        li.activity form.togglecompletion .btn {
            background-color: $gray-200;
            padding: .25rem .5rem .45rem;
            img {
                margin-right: 0;
            }
            &:hover {
                background-color: $gray-300;
            }
        }
        .completionprogress {
            margin-right: 1rem;
            margin-bottom: 1rem;
            .btn {
                margin-left: .25rem;
            }
        }
    }
    #region-main {
        box-shadow: 0 0 0;
        background-color: transparent;
        padding: 0;
        padding-right: 15px;
        .board {
            background-color: $white;
            border-radius: 12px;
            box-shadow: $box-shadow;
            margin: 20px !important;
            padding: 1.5rem !important;
            > .section {
                margin: 0;
                width: 100%;
            }
            h3.sectionname {
                margin-bottom: 1rem;
                a {
                    color: $brand-01;
                    font-weight: 600;
                }
            }
        }
        li#section-0 {
            margin: 0 20px 20px;
        }
    }
    .course-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: -20px;
        > * {
            flex-grow: 1;
            flex-basis: 50%;
        }
        ul.board {
            &.width100 {
                flex-basis: 100%;
            }
            &.width75 {
                flex-basis: calc(75% - 40px);
            }
            &.width66 {
                flex-basis: calc(66.666666666% - 40px);
            }
            &.width50 {
                flex-basis: calc(50% - 40px);
            }
            &.width33 {
                flex-basis: calc(33.333333333% - 40px);
            }
            &.width25 {
                flex-basis: calc(25% - 40px);
            }
        }
    }
}

body.format-tiles #region-main {
    box-shadow: 0 0 0;
    background-color: transparent;
    padding: 0;
    padding-right: 15px;
    .sectiontitle h2 {
        font-weight: 500;
    }
    .buttonhidesec0 {
        background-color: transparent;
    }
    .completionhelp .btn {
        background-color: transparent;
        padding: 0;
    }
    .course-content ul.tiles {
        li.section#section-0 {
            background-color: transparent;
        }
        .tile {
            background-color: $white !important;
            border: 1px solid $brand-border-02;
            border-left: 8px solid $red;
            border-radius: 8px;
            box-shadow: $box-shadow;
            margin: .75rem;
            max-height: 200px;
            a {
                padding: 1.25rem;
            }
            h3 {
                color: $brand-01;
                font-size: 1.2rem;
                font-weight: 500;
            }
        }
    }
    .tileiconcontainer .icon {
        height: 40px;
        width: 40px;
        &.fa {
            color: $brand-02;
            font-size: 40px;
        }
    }
}

body.format-topics {
    .togglecompletion .btn.btn-link {
        background-color: transparent;
    }
}

@media (max-width: 600px) {
    .format-tiles ul.tiles#multi_section_tiles,
    .format-tiles .course-content ul.tiles .tile {
        max-width: 100% !important;
    }
}
