.course_category_tree .category {
    > .info > .categoryname {
        background-image: none !important;
        border-bottom: 2px solid $gray-100;
        padding: 1rem 0 .5rem;
        a {
            color: $gray-900;
            font-size: 1.25rem;
            font-weight: 400;
        }
    }
    > .content {
        padding-left: 0;
    }
    &.with_children {
        > .info > .categoryname::after {
            background-color: $brand-02;
            border-radius: 50%;
            color: $white;
            content: "\f078";
            float: right;
            font-family: 'FontAwesome';
            font-size: .75rem;
            height: 27px;
            line-height: 27px;
            margin-top: .5rem;
            text-align: center;
            width: 27px;
        }
        > .info > .categoryname:hover::after {
            background-color: $brand-01;
        }
    }
}

.course_category_tree .category,
.courses.category-browse {
    .course-card-view .card-title {
        text-align: left !important;
        a {
            color: $brand-01;
        }
    }
}

.courses .card-deck.row {
    justify-content: center;
    .course-card-view {
        flex-basis: 238px !important;
        flex-grow: 0 !important;
        margin-top: .7rem;
        margin-bottom: .7rem !important;
        .course-card-img div {
            background-position: top right;
            background-size: cover;
            border-radius: 12px 12px 0 0;
            height: 6.5rem;
            transition: all .3s ease-in-out;
        }
    }
}

#page-course-index-category .courses .card-deck.row {
    justify-content: left;
}

.card-deck.dashboard-card-deck {
    justify-content: center !important;
    .dashboard-card {
        flex-basis: 238px;
        margin-top: .7rem;
        margin-bottom: .7rem;
        .dashboard-card-img {
            border-radius: 12px 12px 0 0;
        }
        .dashboard-card-footer {
            padding: 1.25rem;
            border-radius: 0 0 12px 12px;
        }
    }
    &.fixed-width-cards .dashboard-card {
        flex-basis: 228px;
    }
}

body#page-enrol-index {
    .box.generalbox > div {
        @extend .course-card-view;
        position: relative;
    }
}

@media (min-width: 576px) {
    .card-deck {
        margin-right: -.7rem;
        margin-left: -.7rem;
        .card {
            margin-right: .7rem;
            margin-left: .7rem;
        }
    }
}