.course_category_tree .category {
    > .info > .categoryname {
        background-image: none !important;
        border-bottom: 2px solid $gray-100;
        padding: 1rem 0 .5rem;
        a {
            color: $gray-900;
            font-size: 1.1rem;
            font-weight: 400;
        }
        &::after {
            background-color: $brand-02;
            border-radius: 50%;
            color: $white;
            content: "\f078";
            float: right;
            font-family: 'FontAwesome';
            font-size: .75rem;
            height: 27px;
            line-height: 27px;
            margin-top: .5rem;
            text-align: center;
            width: 27px;
        }
    }
    > .content {
        padding-left: 0;
    }
}

.course-card-view {
  box-shadow: 5px 5px 9px -4px rgba($black, .1);
  padding-bottom: 4rem;
  max-width: 16rem;
  min-width: 12rem;
  overflow: hidden;
  transition: all .3s ease-in-out;

  &:hover {
    box-shadow: 6px 6px 10px -4px rgba($black, .2);

    .course-card-img div {
      transform: scale(1.05, 1.05);
    }
  }

  .course-card-img div {
    height: 6.5rem;
    background-position: top right;
    background-size: cover;
    transition: all .3s ease-in-out;
  }

  .teachers {
    font-size: .9rem;
  }

  .card-see-more {
    position: absolute;
    bottom: 0;
    width: 100%;

    .btn {
      width: 90%;
    }
  }
}

body#page-enrol-index {
  .box.generalbox > div {
    @extend .course-card-view;
    position: relative;
  }
}
