.course_category_tree .category {
    > .info > .categoryname {
        background-image: none !important;
        border-bottom: 2px solid $gray-100;
        padding: 1rem 0 .5rem;
        a {
            color: $gray-900;
            font-size: 1.1rem;
            font-weight: 400;
        }
    }
    > .content {
        padding-left: 0;
    }
    &.with_children {
        > .info > .categoryname::after {
            background-color: $brand-02;
            border-radius: 50%;
            color: $white;
            content: "\f078";
            float: right;
            font-family: 'FontAwesome';
            font-size: .75rem;
            height: 27px;
            line-height: 27px;
            margin-top: .5rem;
            text-align: center;
            width: 27px;
        }
        > .info > .categoryname:hover::after {
            background-color: $brand-01;
        }
    }
}

.course_category_tree .category,
.courses.category-browse {
    .course-card-view .card-title {
        font-size: 1rem;
        text-align: left !important;
        a {
            color: $brand-01;
        }
    }
}

.course-card-view {
  box-shadow: $box-shadow;
  padding-bottom: 2rem;
  max-width: 16rem;
  min-width: 12rem;
  overflow: hidden;
  transition: all .3s ease-in-out;

  &:hover {
    .course-card-img div {
      transform: scale(1.05, 1.05);
    }
  }

  .course-card-img div {
    height: 6.5rem;
    background-position: top right;
    background-size: cover;
    transition: all .3s ease-in-out;
  }

  .teachers {
    font-size: .9rem;
  }

  .card-see-more {
    position: absolute;
    bottom: 0;
    width: 100%;

    .btn {
      width: 90%;
    }
  }
}

.card-deck.dashboard-card-deck {
    margin-top: 1rem;
    .dashboard-card {
        .dashboard-card-img {
            border-radius: 12px 12px 0 0;
        }
        .dashboard-card-footer {
            padding: 1.25rem;
            border-radius: 0 0 12px 12px;
        }
    }
}

body#page-enrol-index {
    .box.generalbox > div {
        @extend .course-card-view;
        position: relative;
    }
}

@media (min-width: 576px) {
    .card-deck {
        margin-right: -.7rem;
        margin-left: -.7rem;
        .card {
            margin-right: .7rem;
            margin-left: .7rem;
        }
    }
}