// Meu Painel
#page-my-index {
    background-color: $gray-100;
    #region-main {
        box-shadow: 0 0 0;
        margin-top: 0;
        overflow: inherit;
    }
    #block-region-content > section.block.card,
    div[role="main"] + section.block.card {
        background-color: transparent;
        box-shadow: 0 0 0;
        > .card-body {
            padding: 0 !important;
            > .card-title {
                display: inline-block !important;
                margin-top: 1rem;
                margin-bottom: 0;
            }
            > .card-text {
                @extend %card-style;
                padding: 1.25rem;
            }
        }
    }
    .block-myoverview.block-cards [data-region="courses-view"] {
        &[data-display="list"],
        &[data-display="summary"] {
            .btn.btn-link.btn-icon {
                background-color: $gray-200;
                &:active,
                &:hover {
                    background-color: $gray-300;
                }
            }
        }
        &[data-display="list"] {
            .list-group {
                margin-top: 1rem;
                width: 100%;
                .list-group-item:first-child {
                    border-radius: $border-radius $border-radius 0 0;
                }
                .list-group-item:last-child {
                    border-radius: 0 0 $border-radius $border-radius;
                }
            }
        }
        &[data-display="summary"] {
            .course-summaryitem {
                border-radius: $border-radius;
                margin-top: 1rem;
                padding: 1rem !important;
            }
            .summaryimage {
                margin-right: 1rem !important;
            }
        }
    }
}
