#page-footer {
    background-color: $brand-01;
    .d-flex {
        margin-left: -1.5rem;
        margin-right: -1.5rem;
        width: calc(100% + 3rem);
    }
    .flex-item {
        margin: 0 1.5rem;
        h3 {
            font-size: 0.9rem;
            font-weight: 700;
        }
        ul {
            list-style: none;
            margin-bottom: 0;
            margin-left: 0;
            padding-left: 0;
            a {
                font-size: 0.85rem;
                text-decoration: none;
                &:hover {
                    color: $brand-link;
                }
            }
        }
    }
    .social-links {
        float: right;
        a {
            font-size: 1.2rem;
            margin: 0 1rem;
            text-decoration: none;
            &:hover {
                color: $brand-link;
            }
        }
        + p {
            clear: right;
            font-size: .85rem;
            padding-top: 1rem;
            text-align: right;
        }
    }
}

#goto-top-link {
    bottom: 0;
    right: $regular-margin;
    .btn {
        background-color: $brand-02;
        border-radius: $border-radius $border-radius 0 0;
        color: $white;
        padding-left: 1rem;
        padding-right: 1rem;
        .icon {
            margin-right: 0;
        }
    }
}

@media (max-width: 1000px) {
    #page-footer .flex-item {
        margin-bottom: $min-width-margin;
    }
    #goto-top-link {
        right: $min-width-margin;
    }
}