#page-header {
	background-color: $institucional-01;
	margin: 0 0 2rem;
	.card {
		background-color: transparent;
		box-shadow: 0 0 0;
	}
	.page-header-headings h1 {
		color: $white;
		font-weight: 900;
	}
}