#page-header {
    background-color: $brand-01;
    margin: 0 0 1.5rem;
    .card {
        background-color: transparent;
        border: 0 none;
        box-shadow: 0 0 0;
        .card-body {
            padding: 1.25rem calc(3rem - 15px);
        }
    }
    .page-context-header {
        padding: 0;
        .header-button-group {
            margin-top: .5rem;
            margin-left: 2rem;
        }
    }
    .page-header-headings h1 {
        color: $white;
        font-weight: 700;
    }
}

@media (max-width: 1000px) {
    #page-header {
        .card {
            .card-body {
                padding: 1.25rem calc($min-width-margin - 15px);
            }
        }
    }
}