body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Source Sans Pro";
}

a {
    color: $institucional-link;
}

// Rounded user pictures
.userpicture {
  border-radius: 50%;
}

// Reset the default styling back to the bootstrap defaults for
// the secondary outline button because gray-200 is much too light
// for an outline button.
.btn-outline-secondary {
  @include button-outline-variant($gray-600);
  border-color: $gray-600;
}

.btn-outline-info {
  @include button-outline-variant($info-outline);
}

.btn-outline-warning {
  @include button-outline-variant($warning-outline);
}

@include bg-variant(".bg-gray", $gray-200, true);


.card {
	background-color: $white;
	border: 0 none;
	border-radius: $border-radius;
	box-shadow: $box-shadow;
	.card-title {
		font-size: 1rem;
		font-weight: 400;
    	+ .card-text {
			border-top: 1px solid $gray-300;
	    	padding-top: 1rem;
		}		
	}
}

.container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
    padding-right: 2rem;
    padding-left: 2rem;
}

#page-my-index {
	background-color: $gray-100;
}