body {
    background-color: $brand-02;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "SourceSansPro";
}

a {
    color: $brand-link;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    &:hover {
        color: $gray-900;
    }
}

// Desabilitando estilo no :focus
.aabtn.focus, .btn-link.focus, .nav-link.focus, .atto_link_button.focus, [role="button"].focus, .list-group-item-action.focus, input[type="checkbox"].focus, input[type="radio"].focus, input[type="file"].focus, input[type="image"].focus, .sr-only-focusable.focus, a.dropdown-toggle.focus, .modal-dialog[tabindex="0"].focus, .moodle-dialogue-base .closebutton.focus, button.close.focus, .form-autocomplete-selection.focus, .aabtn:focus, .btn-link:focus, .nav-link:focus, .atto_link_button:focus, [role="button"]:focus, .list-group-item-action:focus, input[type="checkbox"]:focus, input[type="radio"]:focus, input[type="file"]:focus, input[type="image"]:focus, .sr-only-focusable:focus, a.dropdown-toggle:focus, .modal-dialog[tabindex="0"]:focus, .moodle-dialogue-base .closebutton:focus, button.close:focus, .form-autocomplete-selection:focus {
    box-shadow: 0 0 0; 
}
.aalink.focus, #page-footer a:not([class]).focus, .arrow_link.focus, a:not([class]).focus, .activityinstance>a.focus, .aalink:focus, #page-footer a:not([class]):focus, .arrow_link:focus, a:not([class]):focus, .activityinstance>a:focus {
    background-color: transparent;
    outline: 0 none;
    box-shadow: 0 0 0;
}

#page-wrapper {
    background-color: $white;
    #page {
        background-color: $gray-100;
        #page-content {
            margin: 0;
        }
    }
}

#region-main-box {
    padding: 0;
}

#region-main {
    @extend %card-style;
    &.has-blocks {
        width: calc(100% - 360px - 1.5rem);
    }
}

#hide-blocks {
    background-color: $white;
    border: 1px solid $brand-02;
    border-radius: 8px;
    box-shadow: $box-shadow;
    color: $brand-02;
    float: right;
    margin-bottom: 1rem;
    &:hover {
        background-color: $brand-02;
        color: $white;
    }
}

.breadcrumb {
    margin-left: 0;
    a,
    .breadcrumb-item {
        color: $gray-400;
        font-size: .85rem;
    }
}

.btn {
    background-color: $brand-02;
    border: 0 none;
    border-radius: 8px;
    color: $white;
    &:hover {
        background-color: $brand-link;
        color: $white;
    }
}

// Reset the default styling back to the bootstrap defaults for
// the secondary outline button because gray-200 is much too light
// for an outline button.
.btn-outline-secondary {
    @include button-outline-variant($gray-600);
    background-color: $gray-200;
    border-color: $gray-600;
}

.btn-outline-info {
  @include button-outline-variant($info-outline);
}

.btn-outline-warning {
  @include button-outline-variant($warning-outline);
}

@include bg-variant(".bg-gray", $gray-200, true);

// message/notificationpreferences.php
.btn-link.p-0 .text-info {
    color: $white !important;
    margin-right: 0;
    padding: .25rem;
}

.card {
    @extend %card-style;
    .card-title {
        font-size: 1.1rem;
        font-weight: 500;
        + .card-text {
            border-top: 1px solid $gray-300;
            padding-top: 1rem;
        }       
    }
}

.container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
    padding-right: $regular-margin;
    padding-left: $regular-margin;
}

.dropdown-menu {
    border: 1px solid $brand-border-01;
    border-radius: 8px;
    box-shadow: $box-shadow;
}

.filter-group {
    .btn.icon-no-margin {
        color: $white;
    }
    [data-filterregion="actions"] .btn {
        color: $white !important;
    }
}

.message-app .btn.btn-link.btn-icon {
    color: $white;
    &:hover {
        background-color: $brand-01;
    }
}
.message-app .view-overview-body {
    .btn-link {
        background-color: transparent;
        border-radius: 0;
        color: $brand-01;
    }
    .card {
        border-radius: 0;
    }
}

.modified {
    color: $gray-600;
    font-size: .75rem;
}

.nav-tabs {
    .nav-item {
        margin-bottom: -2px;
    }
    .nav-link {
        color: $brand-02;
        padding: .5rem 0;
        margin: 0 1rem 0 0;
        &:hover,
        &:focus {
            border-color: transparent transparent $brand-02;
        }
        &.active {
            border: 0 none;
            border-bottom: 4px solid $brand-02;
            color: $brand-02;
            font-weight: 700;
        }
    }
}

.post-actions .btn.btn-link {
    margin-left: .5rem;
}

.simplesearchform {
    .btn-submit,
    .input-group-append .btn {
        background-color: $brand-02;
        color: $white;
        border-radius: 0 8px 8px 0;
    }
}

h2 + .singlebutton {
    margin-bottom: 1rem;
}

.singlebutton + .continuebutton {
    margin-top: 1rem;
}

.generaltable,
.table {
    td,
    th {
        background-color: $gray-100;
        border: 1px solid $white;
        color: $gray-600;
    }
    thead th {
        background-color: $gray-200;
    }
    thead tr:first-child {
        th:first-child {
            border-radius: $border-radius 0 0 0;
        }
        th:last-child {
            border-radius: 0 $border-radius 0 0;
        }
    }
}

#page-my-index {
    background-color: $gray-100;
}

// Rounded user pictures
.userpicture {
  border-radius: 50%;
}

@media (max-width: 1199.98px) {
    #region-main.has-blocks {
        width: 100%;
    }
}

@media (max-width: 1000px) {
    .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
        padding-right: $min-width-margin;
        padding-left: $min-width-margin;
    }
}

