.navbar {
    background-color: $brand-02;
    padding-left: $regular-margin;
    padding-right: $regular-margin;
    .dropdown .dropdown-menu {
        border: 1px solid $brand-border-01;
        border-radius: 8px;
        box-shadow: $box-shadow;
        top: 30px;
        .dropdown-item {
            color: $brand-info;
            font-size: 0.85rem;
            .icon {
                color: $brand-01;
                font-size: 14px;
            }
            &:focus {
                background-color: transparent;
            }
            &:hover {
                background-color: transparent;
                color: $gray-900;
            }
        }
    }
    .popover-region-container {
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        .see-all-link .popover-region-footer-container {
            border: 0 none;
            border-radius: $border-radius;
            box-shadow: $box-shadow;
        }
    }
    .popover-region-header-container {
        display: inline-block;
        height: auto;
        padding: 1rem;
        width: 100%;
    }
    .usernav {
        margin-right: 0;
        .avatars {
            float: left;
        }
        .usermenu .dropdown-toggle {
            color: $white;
            padding-right: 0;
        }
        .usertext {
            color: $white;
            font-size: .8rem;
            font-weight: 700;
        }
        img.userpicture {
            height: 20px;
            width: 20px;
        }
    }
}
.navbar-expand .navbar-nav .nav-link {
    color: $white;
    &:hover {
        color: $brand-01;
    }
}
.navbar-brand {
    color: $white;
    font-weight: 900;
    text-transform: uppercase;
    &:hover {
        color: $brand-01;
    }
}
[data-action="toggle-drawer"] {
    margin-left: -.75rem;
    .icon {
        color: $gray-300;
    }
}

@media (max-width: 1000px) {
    .navbar {
        padding-left: $min-width-margin;
        padding-right: $min-width-margin;
    }
}
