// Navbar - Menu superior.
.navbar {
    background-color: $brand-02;
    min-height: 50px;
    padding: 0 $regular-margin;
    .dropdown .dropdown-menu {
        top: 30px;
        .dropdown-item {
            color: $brand-info;
            font-size: 0.85rem;
            .icon {
                color: $brand-01;
                font-size: 14px;
            }
            &:focus {
                background-color: transparent;
            }
            &:hover {
                background-color: transparent;
                color: $gray-900;
            }
        }
    }
    .popover-region-container {
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        .see-all-link .popover-region-footer-container {
            border: 0 none;
            border-radius: $border-radius;
            box-shadow: $box-shadow;
        }
    }
    .popover-region-header-container {
        display: inline-block;
        height: auto;
        padding: 1rem;
        width: 100%;
    }
    .usernav {
        margin-top: 4px;
        margin-right: 0;
        .avatars {
            float: left;
            .avatar.current {
                background-image: url([[pix:theme|icon-usermenu]]);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
                display: inline-block;
                height: 20px;
                margin-right: 10px;
                width: 20px;
                img.defaultuserpic {
                    display: none;
                }
            }
        }
        .usermenu {
            .dropdown-toggle {
                color: $white;
                padding-right: 0;
                &:hover {
                    color: rgba($white, .5);
                    .avatar.current {
                        opacity: .5;
                    }
                    .usertext {
                        color: rgba($white, .5);
                    }
                }
            }
            .login {
                color: $white;
                font-size: .8rem;
                a {
                    color: $white;
                    font-weight: 600;
                }
            }
        }
        .usertext {
            color: $white;
            font-size: .8rem;
            font-weight: 700;
        }
        img.userpicture {
            height: 20px;
            margin-top: -3px;
            width: 20px;
        }
    }
}
.navbar-expand .navbar-nav {
    .nav-link {
        color: $white;
        &:hover {
            color: rgba($white, .5);
        }
    }
    &.mainmenu .nav-link {
        font-size: .9rem;
        line-height: 50px;
        margin-left: 1.25rem;
        margin-right: 1.25rem;
        min-height: 50px;
        padding: 0;
        position: relative;
        &:hover {
            color: $white;
            &:before {
                background-color: $white;
                content: "";
                height: 4px;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
            }
        }
    }
}
.navbar-brand {
    color: $white;
    font-weight: 900;
    text-transform: uppercase;
    &:hover {
        color: $white;
        opacity: .5;
    }
    + .navbar-nav {
        float: right;
    }
}
[data-action="toggle-drawer"] {
    margin-left: -.75rem;
    .icon {
        color: $gray-300;
    }
    &:hover {
        background-color: transparent;
        .icon {
            color: rgba($white, .5);
        }
    }
}

.popover-region-notifications,
[data-region="popover-region-messages"] {
    .icon {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        font-family: inherit;
        &:before {
            display: none;
        }
    }
    .popover-region-toggle:hover {
        opacity: .5;
    }
}

[data-region="popover-region-messages"] .icon {
    background-image: url([[pix:theme|icon-messages]]);
}

.popover-region-notifications .icon {
    background-image: url([[pix:theme|icon-notifications]]);
}

@media (max-width: 1000px) {
    .navbar {
        padding-left: $min-width-margin;
        padding-right: $min-width-margin;
    }
}
