<section class="block card mb-3" role="complementary">
    <div class="card-body p-3">
        <h3 id="instance-40-header" class="card-title d-inline">Estatísticas</h3>

        <div class="card-text content mt-3">
            <h5>Cursos</h5>
            <span>1</span>
            <h5>Atividades</h5>
            <span>33</span>
            <h5>Cursos realizados</h5>
            <span>0%</span>
            <h5>Atividades realizadas</h5>
            <span>0%</span>

        </div>

    </div>

</section>