<section class="block card mb-3" role="complementary">
    <div class="card-body p-3">
        <h5 id="instance-40-header" class="card-title d-inline">Estatísticas</h5>

        <div class="card-text content mt-3 d-flex flex-wrap justify-content-center">
            <div class="block-statistics">
                <h6>Cursos</h6>
                <span>1</span>
            </div>
            <div class="block-statistics">
                <h6>Atividades</h6>
                <span>33</span>
            </div>
            <div class="block-statistics">
                <h6>Cursos realizados</h6>
                <div class="progress-circle progress-5"><span>5</span></div>
            </div>
            <div class="block-statistics">
                <h6>Atividades realizadas</h6>
                <div class="progress-circle progress-35"><span>35</span></div>
            </div>
        </div>

    </div>

</section>