body.format-tiles #region-main .course-content ul.tiles .tile {
    border: 1px solid #e0e5eb;
}

body.format-tiles #region-main .course-content ul.tiles .tile h3 {
    font-size: .9rem;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    background: transparent;
    transition: all ease-in-out 500ms;
}

.format-tiles .course-content ul.tiles .tile.phototile .photo-tile-text {
    max-width: 225px;
    left: 10px;
    text-align: center;
}

body.format-tiles #region-main .course-content ul.tiles li.tile {
    background-position-x: center;
    background-position-y: 50px;
    background-size: 200px;
    background-repeat: no-repeat;
    max-height: 240px;
    height: 240px;
    transition: all ease-in-out 500ms;
    border-radius: 0;
}

body.format-tiles #region-main .course-content ul.tiles li.tile.spacer {
    max-height: 0;
    height: 0;
}

body.format-tiles #region-main .course-content ul.tiles li.tile:hover,
body.format-tiles #region-main .course-content ul.tiles li.tile.selected {
    background-size: 150px;
    background-position-y: bottom;
}

body.format-tiles #region-main .course-content ul.tiles li.tile:hover h3 {
    margin-top: 1.5rem;
}

body.format-tiles #region-main .course-content ul.tiles li#tile-1 {
    background-color: #b7e4e9 !important;
}

body.format-tiles #region-main .course-content ul.tiles li#tile-2 {
    background-color: #14b0bf !important;
}

body.format-tiles #region-main .course-content ul.tiles li#tile-3 {
    background-color: #85cbcb !important;
}

body.format-tiles #region-main .course-content ul.tiles li#tile-6 {
    background-color: #213653 !important;
}

body.format-tiles #region-main .course-content ul.tiles li#tile-6 h3 {
    color: white;
}

body.format-tiles #region-main .course-content ul.tiles li#tile-4 {
    background-color: white !important;
    background-size: 160px;
    background-position-y: 75px;
}

body.format-tiles #region-main .course-content ul.tiles li#tile-4:hover,
body.format-tiles #region-main .course-content ul.tiles li#tile-4.selected {
    background-size: 120px;
    background-position-y: 115px;
}

body.format-tiles #region-main .course-content ul.tiles li#tile-5 {
    background-color: #93c8aa !important;
}

body.format-tiles #region-main .course-content ul.tiles li#tile-7 {
    background-color: #ff9899 !important;
}

body.format-tiles #region-main .course-content ul.tiles li#tile-8 {
    background-color: #409dc9 !important;
}

.format-tiles .sectionbutton {
    width: 40px;
    height: 40px;
    border-radius: 2rem;
    cursor: pointer;
}

.format-tiles .sectionbutton .icon {
    font-size: 1rem;
    margin: 10px 3px 0 0;
    width: 8px;
    height: 8px;
}

.section.main .content .pagesechead {
    width: 90%;
}

.section.main .content .pagesechead .sectiontitlecontainer,
.section.main .content .pagesechead .sectiontitle {
    width: 100%;
}

.format-tiles .sectionbutton .icon.fa-close:before {
    color: #c0392b;
}

.format-tiles .sectionbutton .icon.fa-pencil:before {
    color: #2c3e50;
}

.format-tiles li.activity:focus {
    outline: 1px dotted gainsboro;
}

.format-tiles .sectiontitle::after, .format-tiles .sectiontitle:after {
    height: 2px;
    background-color: rgba(69, 118, 156, .5);
}


/* Elementos do FNDE */

.fnde-accordion .card-header {
    padding: 0;
}

.fnde-accordion .btn.btn-link {
    background-color: rgb(241, 241, 241);
    color: black;
    width: 100%;
    text-decoration: none;
    text-align: left;
    padding: .75rem 1.25rem;
    border-radius: 0;
    transition: all ease-in-out 250ms;
}

.fnde-accordion .btn.btn-link:hover,
.fnde-accordion .btn.btn-link:hover a {
    background-color: #196096;
    color: white;
    text-decoration: none;
}

.fnde-accordion .card-header button[aria-expanded="true"],
.fnde-accordion .card-header button[aria-expanded="true"] a {
    background-color: #a9a9a9;
    color: black;
}

.fnde-accordion .card {
    border-radius: 0;
}

.fnde-accordion .card-body .btn.btn-outline-primary {
    background-color: #f1f1f1;
    color: black;
    border: 2px solid #042331;
    border-radius: 0;
    transition: all ease-in-out 250ms;
}

.fnde-accordion .card-body .btn.btn-outline-primary:hover {
    background-color: #d2d2d2;
}

.fnde-accordion .collapse {
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.fnde-accordion.tab {
    margin: 1rem;
}

.fnde-accordion.tab .accordion-tab-header {
    display: inline-block;
    width: 30%;
}

.fnde-accordion.tab .accordion-tab-content {
    float: right;
    width: 70%;
}

/* Ícones das atividades */

/* Primeiro precisamos ocultar o ícone padrão */
.section .modtype_book  img.iconlarge.activityicon,
.section .modtype_page  img.iconlarge.activityicon,
.section .modtype_forum img.iconlarge.activityicon,
.section .modtype_url   img.iconlarge.activityicon,
.section .modtype_quiz  img.iconlarge.activityicon {
    display: none;
}

/* Depois colocar a margem a esquerda */
.section .modtype_book  .activityinstance,
.section .modtype_page  .activityinstance,
.section .modtype_forum .activityinstance,
.section .modtype_url   .activityinstance,
.section .modtype_quiz  .activityinstance {
    margin-left: 2rem;
}

.section .activityinstance .instancename:before {
    content: "";
    width: 32px;
    height: 32px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: -5px;
    top: -3px;
}

/* Por fim adicionar o ícone */
.section .modtype_book .activityinstance .instancename:before {
    background-image: url("../../pix/icons/icon_class1.png");
}

.section .modtype_quiz .activityinstance .instancename:before {
    background-image: url("../../pix/icons/icon_challenger.png");
}

.section .modtype_forum .activityinstance .instancename:before {
    background-image: url("../../pix/icons/icon_forum.png");
}

.section .modtype_page .activityinstance .instancename:before {
    background-image: url("../../pix/icons/icon_class2.png");
}

.section .modtype_url .activityinstance .instancename:before {
    background-image: url("../../pix/icons/icon_trail.png");
}